// reset styles
// img
//   max-width: 100%
// body
//   margin: 0
input, button
  &:focus
    outline: none

*
 box-sizing: border-box

body
  font-family: "Roboto", sans-serif
  background-color: #fff

// @import 'variables'
$container-width: 968px
$text-color-dark: #373737
$text-color-light: #fff
$bg-button: #ff8d00

// @import 'interface'
.button
  font-family: "Roboto", sans-serif
  background-color: $bg-button
  font-size: 14px
  color: $text-color-light
  border: none
  padding: 13px 22px
  border-radius: 5px
  outline: none
  &:hover
   background-color: darken($bg-button, 2)
  img
   width: 20px
   height: 20px
   vertical-align: middle
   margin-right: 5px
  &_big
    padding-top: 20px
    padding-bottom: 20px
    font-size: 15px
    font-weight: 300
    vertical-align: middle

@media(min-width: 1200px)
 .container
  max-width: $container-width

// @import 'header'
.nav
 margin-bottom: 15px
 background-color: #373737
 font-size: 11px

.header
 margin-bottom: 10px
 &-contacts
  display: flex
  justify-content: flex-end
  align-items: center
  
  &__phone
   font-size: 22px
   margin-right: 13px
   padding-left: 15px
   border-left: 1px solid lighten($text-color-dark, 25)
   &:first-child
    border-left: none


.nav-content
  display: flex
  justify-content: space-between
  align-items: center
  align-content: center
  list-style: none
  padding: 10px 0
  margin: 0
  height: 100%

.nav-item 
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  height: 25px
  padding: 0 15px
  color: $text-color-light
  border-left: 1px dotted lighten($text-color-dark, 25)
  &:first-child
   border-left: none
 
  a
   align-items: center
   align-content: center
   text-align: center
   vertical-align: center
   color: $text-color-light
   text-transform: uppercase
  // Цвет непосещенных ссылок
  a:link
   color: $text-color-light
   text-decoration: none
   // Цвет посещенных ссылок
  a:visited
   color: $text-color-light
   color: darken($text-color-light, 15)
   text-decoration: none
   //  Цвет ссылок при наведении на них курсора мыши
  a:hover
   color: lighten($text-color-dark, 55)
   text-decoration: none
  //  Цвет активных ссылок
  a:active
   color: $text-color-light


// main.sass

.first-screen
  position: relative
  padding-top: 65px
  padding-bottom: 60px
  background: #373737 url(../img/bg-first-screen.png) center no-repeat
  background-size: cover
  color: $text-color-light
  z-index: 1
  &::before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.6)
    z-index: 0
  &-img
    position: relative
    width: 496px
    img
      margin-left: -105px

    &::before
      content: ''
      position: absolute
      width: 390px
      height: 390px
      // left: 483px;
      top: 10px;
      left: 50%
      margin-left: -256px
      border: 1px solid #fff
      border-radius: 50%
      z-index: -1
  &-text
    &__title
      margin-bottom: 20px
      font-size: 41px
      font-weight: 700
      line-height: 41px
    &__subtitle
      margin-bottom: 24px
      font-size: 28px
      font-weight: 300
      line-height: 19px
    &__form
      width: 543px
      height: 248px
      padding: 28px 27px
      background-color: rgba($text-color-light, 0.2)
      border-radius: 2px

// __form
.form
  display: flex
  margin-bottom: 12px
  // justify-content: space-between
  &-title
    margin-bottom: 20px
    padding-right: 87px
    font-size: 20px
    font-weight: 300
    line-height: 30px
    &_uppercase
      font-weight: 700
      text-transform: uppercase
  &__input
    margin-right: 10px
    border-radius: 4px
    padding: 20px
    border: none
    vertical-align: middle
    flex-basis: 60%
  &-help
    margin-left: 20px
    font-size: 12px
    font-weight: 300