input, button
  &:focus
    outline: none

*
 box-sizing: border-box

body
  font-family: "Roboto", sans-serif
  background-color: #fff

// @import 'variables'
$container-width: 968px
$light-bg-color: #f4f4f4
$text-color-dark: #373737
$text-color-light: #fff
// $bg-button: #ff8d00
$bg-button: #ff9d00 


// @import 'interface'
.button
  font-family: "Roboto", sans-serif
  background-color: $bg-button
  font-size: 14px
  height: 48px
  color: $text-color-light
  border: 1px solid transparent
  padding: 13px 22px
  border-radius: 5px
  outline: none
  &:hover
   background-color: darken($bg-button, 2)
  img
   width: 20px
   height: 20px
   vertical-align: middle
   margin-right: 5px
  &_big
    padding-top: 20px
    padding-bottom: 20px
    height: 57px
    font-size: 15px
    font-weight: 300
    vertical-align: middle
  &-o
    border: 1px solid rgba($text-color-dark, 0.5)
    background-color: transparent
    color: $text-color-dark
    font-size: 15px
    font-weight: 400
    line-height: 23.47px
    &:hover
      background-color: lighten($text-color-dark, 50)


@media(min-width: 1200px)
 .container
  max-width: $container-width

// @import 'header'
.nav
  margin-bottom: 15px
  background-color: $text-color-dark
  font-size: 11px

  &__icon
    display: none
    cursor: pointer
    position: relative
    width: 23px
    height: 17px

  &-global
    backface-visibility: hidden
    position: absolute
    // left: 0
    border-top: 4px solid $text-color-dark
    width: 100%
    transition: 0.55s
  &-top
    top: -2px

  &-middle
    top: 7px

  &-bottom
    top: 16px

  &-top-click
    backface-visibility: hidden
    top: 15px
    transform: rotate(50deg)
    transition: 0.55s 0.5s

  &-middle-click
    opacity: 0

  &-bottom-click
    backface-visibility: hidden
    top: 15px
    transform: rotate(-410deg)
    transition: 0.55s 0.5s

    // TODO: top15 заменить по-человечески


.header
  margin-bottom: 10px
  &-logo
    background: url(../img/logo.png) center no-repeat
    background-size: 100%
    width: 191px
    height: 61px
  &-contacts
    display: flex
    justify-content: flex-end
    align-items: center
  
    &__phone
      &s
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
      font-size: 22px
      margin-right: 13px
      padding-left: 15px
      border-left: 1px solid lighten($text-color-dark, 25)
      &:first-child
        border-left: none
  a
    text-decoration: none
    color: $text-color-dark
  a:link
    color: $text-color-dark
    text-decoration: none
  a:visited
    color: $text-color-dark
    color: lighten($text-color-dark, 15)
    text-decoration: none
  a:hover
    color: lighten($text-color-dark, 25)
    text-decoration: none
  a:active
    color: $text-color-dark


.nav-content
  display: flex
  justify-content: space-between
  align-items: center
  align-content: center
  list-style: none
  padding: 10px 0
  margin: 0
  height: 100%

.nav-item 
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  height: 25px
  padding: 0 15px
  color: $text-color-light
  border-left: 1px dotted lighten($text-color-dark, 25)
  &:first-child
   border-left: none
 
  a
   align-items: center
   align-content: center
   text-align: center
   vertical-align: center
   color: $text-color-light
   text-transform: uppercase
  // Цвет непосещенных ссылок
  a:link
   color: $text-color-light
   text-decoration: none
   // Цвет посещенных ссылок
  a:visited
   color: $text-color-light
   color: darken($text-color-light, 15)
   text-decoration: none
   //  Цвет ссылок при наведении на них курсора мыши
  a:hover
   color: lighten($text-color-dark, 55)
   text-decoration: none
  //  Цвет активных ссылок
  a:active
   color: $text-color-light


.section-title
  margin-bottom: 29px
  text-align: center
  font-size: 27px
  font-weight: 700
  line-height: 18px
  text-transform: uppercase
  &::after
    margin-top: 12px
    content: '' 
    display: block
    height: 6px
    background: url(../img/icon-line.png) center no-repeat

// main.sass

.first-screen
  position: relative
  padding-top: 65px
  padding-bottom: 60px
  background: $text-color-dark url(../img/bg-first-screen.png) center no-repeat 
  background-size: cover
  color: $text-color-light
  z-index: 1
  &::before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.6)
    z-index: 0
  &-img
    position: relative
    width: 496px
    img
      margin-left: -105px

    &::before
      content: ''
      position: absolute
      width: 390px
      height: 390px
      top: 10px
      left: 50%
      margin-left: -256px
      border: 1px solid #fff
      border-radius: 50%
      z-index: -1
  &-text
    &__title
      margin-bottom: 20px
      font-size: 41px
      font-weight: 700
      line-height: 41px
    &__subtitle
      margin-bottom: 24px
      font-size: 28px
      font-weight: 300
      line-height: 19px
    &__form
      width: 536px
      height: 248px
      padding: 28px 27px
      background-color: rgba($text-color-light, 0.2)
      border-radius: 2px

// __form
.form
  display: flex
  margin-bottom: 8px
  &-title
    margin-bottom: 16px
    padding-right: 80px
    font-size: 20px
    font-weight: 300
    line-height: 30px
    &_uppercase
      font-weight: 700
      text-transform: uppercase
  &__input
    margin-right: 10px
    border-radius: 4px
    padding: 20px
    border: none
    vertical-align: middle
    flex-basis: 64%
    font-size: 14px
  &-help
    margin-left: 20px
    font-size: 13px
    font-weight: 300


/* FEATURES SECTION */
.features
  padding-top: 49px
  padding-bottom: 55px
  background-color: $light-bg-color
  .number
    display: inline-block
    width: 33%
    vertical-align: top
    text-align: center
    &s
      margin-bottom: 37px
    &__title
      margin-bottom: 10px
      color: #f39003
      font-size: 36px
      font-weight: 900
      sup
        font-size: 24px
        font-weight: 900
    &__text
      font-weight: 400

  &-block
    display: flex
    flex-basis: 31.5%
    align-items: center
    padding: 28px 19px
    margin-bottom: 30px
    background-color: #fff
    font-size: 15px
    &s
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    &__icon
      flex-basis: 40%
      margin-right: 10px
    &__title
      margin-bottom: 5px
      font-weight: 700
    &__descr
      font-weight: 300

.product
  &s
    padding-top: 57px
    padding-bottom: 73px
  &-block
    margin-bottom: 35px
    text-align: center
    &__title
      margin-bottom: 28px
      text-align: center
      font-size: 20px
      font-weight: 600
      line-height: 19.99px
    &__img
      margin-bottom: 19px
      img
        max-height: 290px
.button-product
  margin-right: 12px



// modal

.overlay
  position: fixed
  display: none
  top: 0
  width: 100%
  height: 100%
  z-index: 3
  background-color: rgba(#000, 0.4)
  .popup
    position: fixed
    left: 50%
    width: 752px
    top: 105px
    transform: translateX(-50%)
    &-close
      position: absolute
      right: -20px
      top: -30px
      font-size: 35px
      font-weight: 300
      color: $text-color-light
      cursor: pointer
    &-title
      display: block
      width: 100%
      min-height: 71px
      margin: 0
      background-color: $bg-button
      color: $text-color-light 
      text-transform: uppercase
      font-size: 21px
      line-height: 71px
      font-weight: 500
      text-align: center
    &-main
      background: $text-color-dark url(../img/popup_bg.png) center no-repeat
      background-size: cover
      padding: 35px 88px 50px 88px
      color: $text-color-light
    &-form
      
      &__title
        padding: 0
        font-size: 30px
        font-weight: 400
        line-height: 27px
        text-align: center
        &_small
          font-size: 24px
      &__label
        display: block
        margin-top: 23px
        font-size: 20px
        font-weight: 300
        line-height: 30px
        text-align: center
      &__input
        width: 365px
        height: 56px
        margin-top: 17px
        margin-right: 16px
        border-radius: 4px
        padding: 20px
        border: none
        font-size: 14px
        vertical-align: middle
      &__small
        margin-top: 9px
        font-size: 14px
        font-weight: 300
        line-height: 30px
        text-align: center
      &__button
        margin-top: 17px
        width: 180px
        height: 56px
        font-size: 15px
        font-weight: 500
        line-height: 22px
        vertical-align: middle


.desctope-hidden-col-1
  display: none

// media
@media (max-width: 1170px)
  .hidden-boxes
    display: none
  // .col-lg-6:before
  //   content: ''
  //   margin: 25%
  .container
    max-width: $container-width
@media (max-width: 991px)
  .first-screen-img, .header-contacts__button__text
    display: none
  .nav, .nav-content, .nav-item,
    display: none
  .nav, .header, .button img,
    margin: 0
    padding: 0
  .header-main
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    // margin: 15px 0
    padding: 15px 0
    flex-direction: column
  .desctope-hidden-col-1
    display: block
    flex: 0 0 8.333333%
    max-width: 8.333333%  
  .nav
    &__icon
      display: block
  .nav
    order: 2
    margin-right: 15px
    width: 23px
    // Стили активного меню:
    // width: 100%
    background-color: $text-color-dark
    color: $text-color-light
    font-size: 18px
    line-height: 24
    &-active
      flex: 0 0 100%
      max-width: 100%
    &__icon
      z-index: 20
      display: block
    &-content
      flex-direction: column
    &-item
      height: 40px
      border-left: none
 
  .header
    width: 100%
    // &-logo
    //   background: $bg-button url(../img/logo.png) center no-repeat
    //   background-size: 80%
    //   width: 29px
    //   height: 29px
    //   border-radius: 3px
    //   padding: 6px 4px
      // margin-right: 72px
    &-contacts
      align-self: flex-end
      // flex-basis: 90%
      &__phone
        &s
          flex-direction: column
        font-size: 18px
        font-weight: 400
        line-height: 17px
        border: none
  .phone-strong-mobile
    font-weight: 900
  .button
    display: inline-block
    padding: 7px
    border-radius: 4px
    img
      // width: 13px
      // height: 13px
      vertical-align: middle 

  .first-screen
    padding-top: 50px
    text-align: center
    &-text
      &__title
        color: $bg-button
        font-size: 22px
        font-weight: 700
        line-height: 24px
      &__subtitle
        margin-bottom: 40px
        font-size: 18px
        font-weight: 400
        line-height: 24px
      &__form
        width: 100%
        padding: 0
        background: transparent
        
    .form
      display: block
      text-align: center
      &-title
        padding: 0
        font-size: 15px
        font-weight: 300
        line-height: 18px
        &_uppercase
          font-weight: 700
      &-help
        margin: 0
        font-size: 13px
        font-weight: 300
        line-height: 30px
      &__input
        display: block
        margin: 15px auto
        padding: 17px 70px
        font-size: 13px
        font-weight: 300
        line-height: 42px
  .button_big
    display: block
    margin: 0 auto

    padding: 19px 29px
    font-size: 15px
    font-weight: 500
    line-height: 22px
  .overlay
    width: 100%
    height: 100%
    .popup
      position: fixed
      left: 50%
      width: 80%
      transform: translateX(-50%)
      &-title
        font-size: 15px
      &-main
        padding: 15px
      &-form
        text-align: center
        &__title
          padding: 0
          color: $bg-button
          font-size: 15px
          font-weight: 700
          line-height: 24px
          
          &_small
            font-size: 18px
        &__label
          display: block
          margin-top: 15px
          font-size: 15px
          font-weight: 300
          line-height: 20px
          text-align: center
        &__input
          width: 100%
          height: 100%
          border-radius: 4px
          padding: 20px
          border: none
          padding: 5px 70px
          font-size: 13px
          font-weight: 300
          line-height: 42px
          vertical-align: middle
        &__small
          margin-top: 9px
          font-size: 14px
          font-weight: 300
          line-height: 30px
          text-align: center
        &__button
          margin-top: 17px
          width: 100%
          height: 56px
          font-size: 15px
          font-weight: 500
          line-height: 22px
          vertical-align: middle

@media (max-width: 768px)
  // nav
  .first-screen-img, .header-contacts__button__text
    display: none
  .nav, .nav-content, .nav-item,
    display: none
  .nav, .header, .button img,
    margin: 0
    padding: 0
  .header-main
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    // margin: 15px 0
    padding: 15px 0
    flex-direction: column
  .desctope-hidden-col-1
    display: block
    flex: 0 0 8.333333%
    max-width: 8.333333%  
  .nav
    &__icon
      display: block
  .nav
    order: 2
    margin-right: 15px
    width: 23px
    // Стили активного меню:
    // width: 100%
    background-color: $text-color-dark
    color: $text-color-light
    font-size: 18px
    line-height: 24
    &-active
      flex: 0 0 100%
      max-width: 100%
    &__icon
      z-index: 20
      display: block
    &-content
      flex-direction: column
    &-item
      height: 40px
      border-left: none
 
  .header
    width: 100%
    &-logo
      background: $bg-button url(../img/logo__mobile.png) center no-repeat
      background-size: 80%
      width: 29px
      height: 29px
      border-radius: 3px
      padding: 6px 4px
      // margin-right: 72px
    &-contacts
      align-self: flex-end
      // flex-basis: 90%
      &__phone
        &s
          flex-direction: column
        font-size: 13px
        font-weight: 400
        line-height: 17px
        border: none
  .phone-strong-mobile
    font-weight: 900
  .button
    display: inline-block
    padding: 7px
    border-radius: 4px
    img
      width: 13px
      height: 13px
      vertical-align: middle 

  .first-screen
    padding-top: 45px
    text-align: center
    &-text
      &__title
        color: $bg-button
        font-size: 22px
        font-weight: 700
        line-height: 24px
      &__subtitle
        margin-bottom: 40px
        font-size: 18px
        font-weight: 400
        line-height: 0
      &__form
        width: 100%
        padding: 0
        background: transparent
        
    .form
      display: block
      text-align: center
      &-title
        padding: 0
        font-size: 15px
        font-weight: 300
        line-height: 18px
        &_uppercase
          line-height: 30px
          font-weight: 700
      &-help
        margin: 0
        font-size: 13px
        font-weight: 300
        line-height: 30px
      &__input
        display: block
        margin: 0
        margin-bottom: 15px
        margin-right: auto
        margin-left: auto
        // padding: 17px 70px
        padding: 5px 60px
        font-size: 13px
        font-weight: 300
        line-height: 42px
  .button_big
    display: block
    margin: 0 auto
    padding: 15px 32px
    font-size: 15px
    font-weight: 500
    line-height: 22px

  .features
    padding-bottom: 10px
    .number
      display: block
      width: 90%
      margin-bottom: 15px
      &__title
        font-size: 30px
    &-block
      flex-basis: 90%
      &s
        justify-content: center

  .overlay
    width: 100%
    height: 100%
    .popup
      position: fixed
      left: 50%
      width: 80%
      transform: translateX(-50%)
      &-title
        font-size: 15px
      &-main
        padding: 15px
      &-form
        text-align: center
        &__title
          padding: 0
          color: $bg-button
          font-size: 15px
          font-weight: 700
          line-height: 24px
          
          &_small
            font-size: 18px
        &__label
          display: block
          margin-top: 15px
          font-size: 15px
          font-weight: 300
          line-height: 20px
          text-align: center
        &__input
          width: 100%
          height: 100%
          border-radius: 4px
          padding: 20px
          border: none
          padding: 17px 70px
          font-size: 13px
          font-weight: 300
          line-height: 42px
          vertical-align: middle
        &__small
          margin-top: 9px
          font-size: 14px
          font-weight: 300
          line-height: 30px
          text-align: center
        &__button
          margin-top: 17px
          width: 100%
          height: 56px
          font-size: 15px
          font-weight: 500
          line-height: 22px
          vertical-align: middle

@media (max-width: 398px)
  .features-block__icon
    display: none

